{% extends "base.html" %}
{% block content %}
  <style>
      @media only screen and (max-width: 500px) {
            .afes{
                overflow:scroll;
            }
      }
  </style>
  <!-- TO DO List -->
  <div class="box box-primary">
    <div class="box-header">
      <i class="ion ion-clipboard"></i>
      <h3 class="box-title">Malumotlar</h3>
      <div class="box-tools pull-right">

      </div>
    </div><!-- /.box-header -->
    <div class="box-body afes">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ismi</th>
            <th scope="col">sinfi</th>
            <th scope="col">sinf Rahbar</th>
          </tr>
        </thead>
        <tbody>
        {% for dq in dq %}
          <tr>
            <td>{{ dq.worker }}</td>
            <td>{{ dq.attendance.team }}</td>
            <td>{{ dq.attendance.team.rahbar }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div><!-- /.box-body -->

  </div><!-- /.box -->
{% endblock content %}